# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_STRYX_LEFT

config ZMK_KEYBOARD_NAME
    default "Stryx"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_STRYX_LEFT || SHIELD_STRYX_RIGHT

config ZMK_SPLIT
    default y

endif